html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background-color: rgb(253, 248, 241);
}

.headerBar {
    height: 100px;
    width: 100%;
    margin: 0px;
    background-color: rgb(236, 232, 226);
    color: rgb(32, 32, 32);
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    border-bottom-style: solid;
    border-width: 2px;
    border-color: rgb(32, 32, 32);
    box-shadow: inset -10px 0px 40px 0px rgb(127, 149, 182);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.myName {
    font-size: large;
    margin-left: 200px;
    margin-bottom: -10px;
}

.myTitle {
    margin-top: -30px;
}

.headerNav {
    padding: 5px;
    margin-right: 200px;
}

a {
    display: inline-block;
    padding: 10px;
    color: rgb(32, 32, 32);
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    transform: scale(1.1);
    color:rgb(127, 149, 182);
}

a:active {
    transform: scale(1.05);

}

.generalInfo {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.photo-container {
    height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 100px;
}

.backgroundPic {
    height: 450px;
    width: 1200px;
    background-image: url('../images/Backdrop.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 450px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgb(127, 149, 182);
    border-radius: 75px;
    object-fit: contain;
}

.profilePic {
    height: 250px;
    width: 250px;
    background-image: url('../images/HeadshotPro2.jpg');
    background-repeat: no-repeat;
    background-size: 250px 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(127, 149, 182);
    object-fit: cover;
}

.aboutMe-2 {
    height: 350px;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(127, 149, 182);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgb(127, 149, 182);
    position: relative;
    top: 100px;
}

.description {
    height: 125px;
    width: 100%;
    padding: 5px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: large;
}

.generalInfo {
    height: 300px;
    width: 80%;
    border-top: 1px solid rgb(127, 149, 182);
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
}

.test {
    height: 1200px;
    width: 100%;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 950px;
    margin-top: 130px;
}